@{
    ViewData["Title"] = "Service Client Dashboard";
    var demandes = (List<Hirfa.Web.Models.Demandeclient>)ViewBag.Demandeclients;
}
<div class="container mt-5">
    <h2>Welcome, Service Client!</h2>
    <p>This is the service client dashboard. You are logged in as a service client.</p>
</div>
